footer {
    padding-top:2em;
    margin-top:5em;
    color: white;
    font-size: 18px;
    background-color: #D0B69F;

    .footer_liste {
        font-weight: 400;
        padding: 1em;
        //column-count: 3;
        font-size: 20px;
        display: grid;
        grid-template-columns: auto;
        gap: 2em;
    }
    .listeRS {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 50%;
        margin: 1em auto;
    }
    &>p {
        margin: 0 auto;
        width: fit-content;
    }
}

.liste {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;

    &>p {
        text-transform: capitalize;
        font-weight: 700;
        font-size: 22px;;
    }

    &>ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


.liensRS {
    height: 20px;
}

.liensAlexandre {
    color: #D0B69F;
    filter: brightness(75%);
}