.none {
    display: none;
}

.titre {
    display: flex;
    justify-content: center;
}

.article {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    padding: 20px 20px 20px 20px;
    row-gap: 20px;
}

.filtre {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid #D0B69F 2px;
    border-radius: 1em;
    width: fit-content;
    padding: 0.5em 0.75em;
    margin: 0.5em 0em 0.5em 1.5em;

    &_texte {
        font-size: 18px;
    }

    &_img {
        width: 1.5em;
        height: 1.5em;
    }

    /*
    &_liste {
        height: 200px;
        width: 200px;
        background-color: white;
        left: 1.5em;
        border: solid 2px #D0B69F;
}*/
}

.sousCategorie {
    align-items: center;

    display: grid;
    grid-template-columns: 50% 50%;

    &_element {
        display: flex;
        flex-direction: column;
        font-size: 14px;
        width: 100%;
        padding-top: 1em;
        padding-left: 1em;
        text-transform: uppercase;
        font-weight: 700;

        &::after {
            content: '';
            height: 2px;
            position: relative;
            top: 0.5em;
            left: -0.5em;
            background-color: #D0B69F;
            width: 75%;
            margin: 0 auto;
        }

        &:last-child {
            border-bottom: none;
        }
    }

    &_label {
        display: flex;
        gap: 1em;
    }
}

@media(min-width:820px) {
    .sousCategorie {
        display: flex;
        width: 50vw;
        justify-content: space-evenly;

        &_element {
            width: auto;

            &::after {
                height: 3px;
                width: 100%;
                left: 0px;
            }
        }

        &_label {
            width: 4vw;
        }
    }

    .article {
        grid-template-columns: auto auto auto auto;
    }
}