header{
    color:white;
}
.navbar{
    //background-color: #624e4e;
    display:flex;
    position:absolute;
    align-items: center;
    justify-content: space-evenly;
    z-index:1;
    right:0;
    left:0;
}
.Carousel{
    width:100vw;
    height:auto;
    position:relative;
    background: linear-gradient(to bottom, black, rgb(133, 133, 133) 5%, white);
}
.test{
    color:black;
}
.headerBalise{
    &__gauche{
        position:absolute;
        z-index:2;
        height:100vh;
        background-color: black;
        display:flex;
        justify-content: flex-end;
    }
}