header{
    color:white;
}
.navbar{
    //background-color: #624e4e;
    display:flex;
    position:absolute;
    align-items: center;
    justify-content: space-evenly;
    z-index:1;
    right:0;
    left:0;
}
.Carousel{
    width:100vw;
    position:relative;
    background: linear-gradient(to bottom, black, rgb(90, 90, 90) 20%, white);
}