.titre {
    display: flex;
    margin: 0 auto;
    width: fit-content;
    padding-block: 1em;
}
.button{
    display:flex;
    margin:1em auto;
    background-color: #D0B69F;
    color:white;
    border:none;
    padding:1em;
    border-radius: 5px;
}