.titre {
    display: flex;
    margin: 0 auto;
    width: fit-content;
    padding-block: 1em;
}

.button {
    font-size: 16px;
    display: flex;
    margin: 2em auto;
    background-color: #D0B69F;
    color: white;
    border: none;
    padding: 1em 2em;
    border-radius: 5px;
    font-weight: 600;
}

.prixFinal {
    margin-block: 0.5em;
    display: flex;
    flex-direction: row-reverse;
    width: 90vw;
    font-weight: 600;
    font-size: 22px;
}

.panierVide {
    height: calc(100vh - 48px - 90px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media(min-width:820px) {
    .listePanier {
        padding-inline: 30vw;
    }
    .prixFinal {
        padding-inline: 25vw;
    }
    .panierAutre{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        row-gap: 1em;
    }
}