.panier {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.element {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    justify-items: center;

    &::after {
        content: "";
        width: 80vw;
        height: 3px;
        background-color: #D0B69F;
        margin-block: 0.5em;
        grid-column: 1/3;
    }

    &_description {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        align-items: flex-start;
    }

    &_image {
        object-fit: contain;
        width: 10em;
        height: 10em;
    }
}

.livraison {
    border: none;

    &_element {
        display: flex;
        padding-inline: 0.5em;
        gap: 0.5em;
    }

    &_description {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    &::after {
        display: block;
        content: "";
        width: 80vw;
        height: 3px;
        background-color: #D0B69F;
        margin: 0.5em auto;
    }
}

.recapPrix {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &>p {
        display: flex;
        justify-content: space-between;
        width: 80vw;
    }
}

.button {
    font-size: 16px;
    display: flex;
    margin: 2em auto;
    background-color: #D0B69F;
    color: white;
    border: none;
    padding: 1em 2em;
    border-radius: 5px;
    font-weight: 600;
}
.liens{
    &_cgv{
        color:#D0B69F;
        text-decoration: underline;
    }
}
.validationCGV{
    display:flex;
    justify-content: space-between;
}
.choixPointRelay{
    position: absolute;
    z-index: 10;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    background-color: white;
}
.test{
    height:300px;
}
.listePointRelais{
    display:flex;
    flex-direction: column;
}
@media(min-width:820px) {
    .panier {
        width: 100%;
    }

    .recapPrix {
        &>p {
            width: 100%;
        }
    }

    .livraison {
        &::after {
            width: 100%;
        }
    }

    .element {
        &::after {
            width: 100%;
        }
    }
    .gridTotal{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 25vw;
    }
}
.testmap{
    height:200px;
    width:200px;
}