.article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &_element {
        display: flex;
        flex-direction: column;
    }
}

.image,
.imageepuise {
    width: 100%;
    height: 100%;
    object-fit: cover;
    //box-shadow:5px 5px 5px #4d626a;
    display: block;
    max-height: 500px;
    box-shadow: 4px 5px 16px -5px #A0A0A0;
}

.description,
.prix {
    display: flex;
    justify-content: center;
}

.description {
    font-style: italic;
}

.imageepuise {
    position: relative;
}

.fenetreepuise {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    top: 0;
    //background: rgb(208,182,159,65%);
    background: rgba(58, 58, 58, 0.86);
}

.articleepuise {
    position: relative;
}

.texteepuise {
    font-size: 24px;
    color: white;
}

a {
    color: white;
}

@media (min-width:820px) {

    .description,
    .prix {
        font-size: 25px;
    }
}