.article{
    display:flex;
    flex-direction: column;
}
.image, .imageepuise{
    width: 100%;
}
.description, .prix{
    display:flex;
    justify-content:center;
}
.imageepuise{
    filter:grayscale(60%)
}